.image-option-item {
  list-style-type: none;
}

.image-option-btn {
  width: 100%;

  padding: 10px;

  border: 2px solid transparent;
  border-radius: 12px;

  background-color: #ffffff;

  cursor: pointer;
}

.image-option-btn:hover {
  border-color: #2864e8;
}

.option-image {
  width: 100%;
  max-height: 220px;
  object-fit: contain;
  display: block;
}

.selected-image-option {
  border-color: #2864e8;
}
