.default-option-item {
  list-style-type: none;
}

.default-option-btn {
  width: 100%;

  border: none;
  border-radius: 10px;

  background-color: #f1f5f9;

  color: #263b5e;

  padding: 18px 25px;

  text-align: left;

  font-size: 17px;
  font-weight: 500;

  cursor: pointer;
}

.default-option-btn:hover {
  background-color: #e4ecfb;
}

.selected-default-option {
  background-color: #2864e8;
  color: #ffffff;
}
